body{
  background-color: rgb(201, 185, 185);
}

.foto-perfil{
  border-radius: 100%;
  max-width: 200px;
  /*border: 1px solid black;*/
}

p{
  color:navy;  
}

@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 320px) {
  .hero .container{
    flex-direction: column;
    text-align: center;
  }
  .hero .container img{
    order: -1;
  }
}